In [1]:
library(tidyverse)
library(janitor)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [3]:
players  <- read_csv("../data/players.csv") |> clean_names()
sessions <- read_csv("../data/sessions.csv") |> clean_names()


nrow(players); ncol(players); names(players)
nrow(sessions); ncol(sessions); names(sessions)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 196

[1] 7

[1] "experience"   "subscribe"    "hashed_email" "played_hours" "name"
[6] "gender"       "age"

[1] 1535

[1] 5

[1] "hashed_email"        "start_time"          "end_time"
[4] "original_start_time" "original_end_time"

In [4]:
players <- players |>
  mutate(
    newsletter_subscribed = ifelse(
      is.na(subscribe), NA_character_,
      ifelse(subscribe, "Subscribed", "Not subscribed")
    ),
    newsletter_subscribed = as_factor(newsletter_subscribed)
  )

players |>
  group_by(newsletter_subscribed) |>
  summarize(players = n())

  newsletter_subscribed players
1 Subscribed            144
2 Not subscribed         52

In [5]:

nrow(players); ncol(players)
names(players)


nrow(sessions); ncol(sessions)
names(sessions)

[1] 196

[1] 8

[1] "experience"            "subscribe"             "hashed_email"
[4] "played_hours"          "name"                  "gender"
[7] "age"                   "newsletter_subscribed"

[1] 1535

[1] 5

[1] "hashed_email"        "start_time"          "end_time"
[4] "original_start_time" "original_end_time"

In [6]:
players |>
  summarize(across(everything(), ~ sum(is.na(.))))
sessions |>
  summarize(across(everything(), ~ sum(is.na(.))))

  experience subscribe hashed_email played_hours name gender age
1 0          0         0            0            0    0      2
  newsletter_subscribed
1 0

  hashed_email start_time end_time original_start_time original_end_time
1 0            0          2        0                   2

In [7]:
players |>
  summarize(across(everything(), ~ paste(class(.x)[1])))
sessions |>
  summarize(across(everything(), ~ paste(class(.x)[1])))

  experience subscribe hashed_email played_hours name      gender    age
1 character  logical   character    numeric      character character numeric
  newsletter_subscribed
1 factor

  hashed_email start_time end_time  original_start_time original_end_time
1 character    character  character numeric             numeric

In [8]:
players |>
  summarize(across(where(is.numeric), ~ round(mean(.x, na.rm = TRUE), 2)))

  played_hours age
1 5.85         21.14